.font-test {
  color: white;
  font-size: 24px;
  span {
    display: block;
  }
}

.font-Audiowide {
  font-family: 'Audiowide', cursive;
}

.font-Aldrich {
  font-family: 'Aldrich', sans-serif;
}

.font-Press_Start_2P {
  font-family: 'Press Start 2P', cursive;
}

.font-Quantico {
  font-family: 'Quantico', sans-serif;
}

.font-Monofett {
  font-family: 'Monofett', cursive;
}

.font-Butcherman {
  font-family: 'Butcherman', cursive;
}
